@import '@radix-ui/colors/green.css';

.popover-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.popover-toggle-button {
  font-family: inherit;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 4px;
}
.IconButton:hover {
  background-color: var(--violet-3);
}
.IconButton:focus {
  box-shadow: 0 0 0 2px white;
}
.habit-form {
  border: 1px solid var(--color-border);
  border-radius: 16px;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    190deg,
    var(--color-gradient-start),
    var(--color-gradient-end)
  );
}
.habit-form-header {
  margin: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
}
.habit-form-description {
  margin: 10px;
  display: flex;
  flex-direction: row;
  color: var(--color-deemphasized-text);
}

.PopoverDialogOverlay {
  background: rgba(0 0 0 / 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  align-items: center;
  overflow-y: auto;
}

.PopoverDialogContent {
  min-width: 375px;
  max-width: 60%;
  background: var(--color-widget-background);
  border-radius: 10px;
  width: 80%;
  border: 1px solid var(--color-border);
  position: relative;
  top: 20px;
  margin-top: 0;
  padding: 50px;
}
.wrapper {
  display: flex;
  overflow-x: scroll;
  min-height: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.box {
  display: grid;
  grid-template-rows: auto auto 1fr min-content;
  border-radius: 8px;
  background-color: var(--color-widget-background);
  margin-left: 25px;
  margin-right: 25px;
  min-width: calc(100%);
  scroll-snap-align: center;
  grid-row-end: -1;
}
.wrapper {
  scroll-snap-type: x mandatory;
}

.animate-character {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #389fed 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: var(--color-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 3rem;
  height: min-content;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.animate-character-second {
  text-transform: uppercase;
  background-image: linear-gradient(
    45deg,
    hsl(137deg 100% 58%) 0%,
    hsl(150deg 100% 49%) 7%,
    hsl(157deg 100% 47%) 13%,
    hsl(165deg 100% 45%) 20%,
    hsl(175deg 100% 43%) 27%,
    hsl(184deg 100% 45%) 33%,
    hsl(193deg 100% 50%) 40%,
    hsl(195deg 100% 50%) 47%,
    hsl(198deg 100% 50%) 53%,
    hsl(201deg 100% 50%) 60%,
    hsl(204deg 100% 50%) 67%,
    hsl(208deg 100% 50%) 73%,
    hsl(212deg 100% 50%) 80%,
    hsl(217deg 100% 50%) 87%,
    hsl(224deg 100% 50%) 93%,
    hsl(238deg 100% 50%) 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: var(--color-text);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 3rem;
  height: min-content;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.secondary-text {
  font-size: 2rem;
}

/* text input */
.form__group {
  position: relative;
  padding: 15px 0 0;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 10rem;
  color: var(--color-text);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  color: #9b9b9b;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    margin-bottom: auto;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 2rem;
    color: #389fed;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(
    -225deg,
    #389fed 29%,
    #ff1361 67%,
    #fff800 100%
  );
  border-image-slice: 1;
}

/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.button {
  background-color: var(--color-widget-background);
  color: var(--button-text-color);
  border: none;
  border-radius: 5px;
  margin-top: 100px;
  cursor: pointer;
}
.button:disabled {
  color: var(--color-border);
}

.button:hover {
  background-color: var(--button-hover-background-color);
}
.icon {
  color: var(--color-text);
}
.icon:hover {
  color: var(--color-primary);
  transition: 0.2s;
}
.button:disabled:hover {
  color: var(--color-text);
}
.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 90%;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.input-paragraph {
  font-size: 2rem;
  color: var(--color-deemphasized-text);
}
.input {
  --on-background: #ffffff;
  border: 1px solid var(--color-border);
  align-items: center;
}

/* paragraph input */
.form__group__paragraph {
  position: relative;
  padding: 15px 0 0;
  width: 50%;
}

.form__field__paragraph {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 2rem;
  color: var(--color-text);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  /* &::placeholder {
    color: transparent;
  } */

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label__paragraph {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  color: #9b9b9b;
}

.form__field__paragraph:focus {
  ~ .form__label {
    position: absolute;
    margin-bottom: auto;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 2rem;
    color: #389fed;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(
    -225deg,
    #389fed 29%,
    #ff1361 67%,
    #fff800 100%
  );
  border-image-slice: 1;
}

/* reset input */
.form__field__paragraph {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

.behavior-text {
  --on-background: #ffffff;
  background-image: linear-gradient(
    to bottom,
    var(--on-background) 50%,
    transparent
  );
  letter-spacing: -1px;
  text-shadow: rgba(0, 166, 255, 0.8) 0px 0px 4px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 72px;
  position: relative;
  z-index: 3;
}

.time-text {
  --on-background: #ffffff;
  background-image: linear-gradient(
    to bottom,
    var(--on-background) 50%,
    transparent
  );
  letter-spacing: -1px;
  text-shadow: rgba(255, 0, 0, 0.8) 0px 0px 4px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 72px;
  position: relative;
  z-index: 3;
}

.location-text {
  --on-background: #ffffff;
  background-image: linear-gradient(
    to bottom,
    var(--on-background) 50%,
    transparent
  );
  letter-spacing: -1px;
  text-shadow: rgba(21, 255, 0, 0.8) 0px 0px 4px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 72px;
  position: relative;
  z-index: 3;
}
.confirmation-text {
  font-size: 3rem;
}

.button-submission {
  border: 1px solid var(--color-border);
  background-color: var(--green-10);
  padding: 25px;
  border-radius: 10px;
}
.button-submission:hover {
  background-color: var(--green-8);
}

.submit-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px;
}
.time-input-container {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.weekday-input-container {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

/* TimePicker Styles */

.react-time-picker {
  display: inline-flex;
  position: relative;
}

.react-time-picker,
.react-time-picker *,
.react-time-picker *:before,
.react-time-picker *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-time-picker--disabled {
  background-color: #f0f0f0;
  color: #6d6d6d;
}

.react-time-picker__wrapper {
  display: flex;
  width: fit-content;
  border: thin solid var(--color-border);
  border-radius: 20px;
  padding: 10px;
}

.react-time-picker__inputGroup {
  min-width: calc((4px * 3) + 0.54em * 6 + 0.217em * 2);
  flex-grow: 1;
  padding: 0 2px;
  box-sizing: content-box;
}

.react-time-picker__inputGroup__divider {
  padding: 1px 0;
  white-space: pre;
}

.react-time-picker__inputGroup__divider,
.react-time-picker__inputGroup__leadingZero {
  display: inline-block;
  font: inherit;
}

.react-time-picker__inputGroup__input {
  min-width: 0.1em;
  height: 100%;
  position: relative;
  padding: 0 1px;
  border: 0;
  background: none;
  color: currentColor;
  font: inherit;
  box-sizing: content-box;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.react-time-picker__inputGroup__input::-webkit-outer-spin-button,
.react-time-picker__inputGroup__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.react-time-picker__inputGroup__input:invalid {
  background: rgba(255, 0, 0, 0.1);
}

.react-time-picker__inputGroup__input--hasLeadingZero {
  margin-left: -0.54em;
  padding-left: calc(1px + 0.54em);
}

.react-time-picker__inputGroup__amPm {
  font: inherit;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  appearance: menulist;
}

.react-time-picker__button {
  border: 0;
  background: var(--color-text);
  padding: 4px 6px;
}

.react-time-picker__button:enabled {
  cursor: pointer;
}

.react-time-picker__button:enabled:hover .react-time-picker__button__icon,
.react-time-picker__button:enabled:focus .react-time-picker__button__icon {
  stroke: var(--color-secondary);
}

.react-time-picker__button:disabled .react-time-picker__button__icon {
  stroke: #6d6d6d;
}

.react-time-picker__button svg {
  display: inherit;
}

/* Weekday selector */
.weekday-input-container {
  margin: 20px;
}
.weekDays-selector input {
  display: none !important;
}

.weekDays-selector input[type='checkbox'] + label {
  display: inline-block;
  border-radius: 6px;
  background: var(--color-border);
  height: 50px;
  width: 50px;
  margin: 10px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type='checkbox']:checked + label {
  background: #2ad705;
  color: #ffffff;
}

.icon-opener {
  border: 1px solid white;
  border-radius: 50%;
}

.icon-opener:hover {
  background-color: gray;
}
