.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  position: relative; /* For absolute positioning of the sidebar */
  padding: 0 0.5rem;
}

.habitsHeader {
  text-align: center; /* Center text */
  margin-bottom: 20px; /* Space below the header */
}

.habitsContainerHeroText {
  text-shadow: rgba(255, 255, 255, 0.2) 0px 0px 4px;
  font-size: 2.5rem;
  text-align: center;
}
.heroText {
  display: flex;
  justify-content: center;
  --on-background: #ffffff;
  background-image: linear-gradient(
    to bottom,
    var(--on-background) 50%,
    transparent
  );
  letter-spacing: -1px;
  text-shadow: rgba(255, 255, 255, 0.2) 0px 0px 4px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2.5rem;
  line-height: 72px;
  position: relative;
  z-index: 3;
}
.sidebar {
  position: absolute;
  right: 0; /* Position the sidebar to the right */
  top: 50%; /* Center the sidebar vertically */
  transform: translateY(-50%);
  width: 250px;
  padding: 2rem;
  border-radius: 50px;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  margin: 1rem 0;
}

.sidebar nav ul li a,
.NavigationMenuLink {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.profilePic {
  display: flex;
  justify-content: center;
}

.NavigationMenuLink:hover {
  background-color: #e0e0e0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  flex: 1;
}

.AvatarRoot {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
  user-select: none;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--black-a3);
}

.AvatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.AvatarFallback {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: var(--violet-11);
  font-size: 1rem;
  line-height: 1;
  font-weight: 500;
}

.NavigationMenuRoot {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.NavigationMenuList {
  width: 100%;
}

.NavigationMenuItem {
  margin-bottom: 1rem;
}

.NavigationMenuTrigger,
.NavigationMenuContent,
.NavigationMenuIndicator,
.NavigationMenuViewport {
  display: none;
}

.habitsContainer {
  border: 1px solid var(--color-border);
  border-radius: 25px;
  width: fit-content;
  padding: 20px;
  margin: 20px 0;
  align-items: center;
}
